.title {
  text-align: center;
  font-family: "Lucida Console", monospace;
  color: #424242;
  font-size: 50px;
}

.img {
  height: auto;
  width: 300px;
  float: left;
  margin-right: 30px;
  margin-bottom: 1000px;
  padding: 5px;
}

span {
  font-family: "Lucida Console", monospace;
  background-color: #424242;
  font-size: 25px;
  color: white;
}

.p,
li {
  font-family: "Lucida Console", monospace;
  font-size: 15px;
  color: #424242;
  list-style-position: inside;
}

div {
  display: block;
}
